<%- include("header") -%>
<div class="box" id="heading">
  <h1>
    About
  </h1>

</div>
<div class="box">
  <div class="copy" align="center">Made with <span id="love">❤</span> By <a href="https://iambharat.tk" target="_blank" class="link">Bharat Agarwal</a></div>
  </div>
<%- include("footer") -%>
